# Auto Scaling Group Cluster Name
cluster_name = "my-prod-cluster"

# Environment Name (tagged to all instances)
environment_name = "my-env"

# Operating System to use ie RHEL or Ubuntu
os = "Ubuntu"

# Operating System version to use ie 7.3 (for RHEL) or 16.04 (for Ubuntu)
os_version = "16.04"

# Pre-existing AWS key name you will use to access the instance(s)
ssh_key_name = "my-ssh-key"

# Pre-existing list of Subnet ID(s) to use
subnet_ids = ["subnet-0ab1cd2e"]

# Pre-existing VPC ID to use
vpc_id = "vpc-123abc45"

# Product versions to use (requires matching AMI)
consul_version = "0.8.4"
nomad_version  = "0.6.0"
vault_version  = "0.7.3"
